{% extends 'post/index.html'%}
{% load static %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1>Ваши посты</h1>
        {% for post in object_list %}
             {% if user.is_authenticated %}
                {% if user.id == post.customers.id %}
                   <div class="p-3 mb-2 bg-dark text-white " style="max-width: 1040px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                             {% if post.image_profile_user %}
                               <img src="{{ post.image_profile_user.url }}" class="img-fluid rounded-start" alt="...">
                             {% else %}
                                <img src="{% static '../media/images/4526_900.jpg' %}" class="img-fluid rounded-start" alt="...">
                             {% endif %}
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ post.customers.first_name}}</h5>
                            <h5 class="card-title">{{ post.dara_post}}</h5>
                            <a class="navbar-toggler" href="{% url 'post-detail' post.pk %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                             <button class="btn btn-secondary">{{post.title}}</button>
                            </a>
                              <br>
                            <a class="navbar-toggler" href="{% url 'delete-post' post.pk %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                               <button class="btn btn-secondary">Удалить пост</button>
                            </a>
                               <h4>Комменты...</h4>
                          {%if not post.comments.all %}
                          <a href="{% url 'add-comment' post.pk %}">
                                Добавить комментарий
                            </a>
                          <br>
                          Комеентариев пока нет...
                          {% else %}
                          <a href="{% url 'add-comment' post.pk %}">
                                Добавить комментарий
                            </a>
                          <br>
                            {% for comment in post.comments.all %}
                                <br>
                                <strong>
                                {{ comment.name }}-{{ comment.data_comment }}
                                </strong>
                                <br>
                                {{ comment.text }}
                            {% endfor %}
                          {% endif %}
                          <br>
                          <br>
                          </div>
                        </div>
                      </div>
                   </div>
            {% endif %}
          {% endif %}
        {% endfor %}

{% endblock %}